* {
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  background-color: #373737;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 80%;
  padding: 10px 20px;
  background-color: rgb(97, 97, 97);
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 2px 4px 20px black;
}

.container {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

textarea {
  font-size: 20px;
  padding: 6px 12px;
  width: 70%;
  outline: none;
  border: 1px solid black;
  height: 150px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  width: 70%;
  margin: 0 auto;
}

.tag {
  background-color: #373737;
  /* background: radial-gradient(white,black); */
  margin: 7px 3px;
  padding: 6px 18px;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
}

.highlight {
  background-color: blue;
}

#btn-choose {
  margin: 10px auto;
  padding: 6px 10px;
  background-color: white;
  color: black;
  outline: none;
  border-radius: 30px;
  width: 20%;
  min-width: 100px;
}

@media (max-width:500px) {
  .main-container{
    width: 100%;
  }
  .container textarea {
    width: 100%;
  }

  h2 {
    font-size: 15px;
  }
}